.accordionSliderHead h3 { font-weight:bold; padding:.5em .7em; margin:0em; font-size:inherit; background:#eeeeee }
.accordionSlider:hover .accordionSliderHead h3 { background:#eeeeee }
.accordionSlider { border:1px solid #bbbbbb; border-bottom:none; margin-bottom:-1px; margin-left:100px; margin-right:100px; }
.accordionSliderInBody { min-height:0px }
.accordionSliderInBody div {
	padding:.3em .7em .5em .7em; background:#cccccc;
}
.accordionSliderInBody pre { margin:0em; padding:.3em }
.accordionCloser { border-top:1px solid #bbbbbb; margin-bottom:1.7em; margin-left:100px; margin-right:100px; }

.accordionSlider { cursor:default }
.accordionSlider a { cursor:pointer }
.accordionSliderBody { overflow:hidden }

body { margin:0px; padding:0px; position:relative; font:0.8em Ubuntu,'Lucida Sans','Lucida Grande', Verdana, sans-serif; background:#ffffff; color:#000000; line-height:1 }
	
html, body { width:100%; margin:0; padding:0 }
html { height:50% }
body { min-height:50% }

